extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each item,index in items
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Name of the book is #{item.noteBookName}
          p Note Book Pages are #{item.noteBookPages}
          p Cost of the book is #{item.noteBookCost}
  script.
    function buy(N) {
      N=N+1;
      alert('You purchased item '+N);
    }  